<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dublin Bikes</title>
      <link rel="stylesheet" href="static/main.css">
      <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </head>
  <body>
      <header>
        <div id='pageTitle'>
            <h1 id='title'>Dublin Bikes Information Hub</h1>
                <img src='static/dublinbike.png' id="logo" alt='logo'>
        </div>
    </header>
    
    <div id="map"></div>
        <div id="test"></div> 
      
      <div class="dropdown">
          <select id="Input" onchange="myFunction();drawVisualization()"></select>
      </div> 
	   
    <script>
      var y = [];
      var options = JSON.parse('{{ data | tojson | safe }}');  
          for (var i = 0; i < options.length; i++){
              $('#Input').append('<option value="'+String(options[i].address)+'">'+String(options[i].address)+'</option>');
              y.push(options[i]);          
		  }  
        
      function myFunction() {
        var x = document.getElementById("Input").value;
    
        for (var i = 0; i < options.length; i++){
            if(y[i].address == x){
            
                if (y[i].banking == '0'){
                    x = 'No';
                }
            
                else if (y[i].banking == '1'){
                    x = "Yes";
                }      
            
            document.getElementById("test").addEventListener('click' , showDetails() , false)   
        }  
    }
  
    function showDetails() {
            var popup = document.createElement('div');
                popup.className = 'popup';
                popup.id = 'test';
                var cancel = document.createElement('div');
                cancel.className = 'cancel';
                cancel.innerHTML = 'X';
                cancel.onclick = function(e) { popup.parentNode.removeChild(popup) };
                var message = document.createElement('span');
                message.innerHTML = "<b>You selected: </b>" + y[i].address + "<br>" + "<b>Available Bikes:</b> " + " " + y[i].available_bikes + "<br> " + "<b>Available Bike Stands:</b> " + y[i].available_bike_stands + " <br>" +  "<b>The stop is: </b>" + y[i].status + "<br>" + "<b>Banking Available: </b>" + x + "<br>";
                popup.appendChild(message);                                    
                popup.appendChild(cancel);
                document.body.appendChild(popup);
 
            }
    
	  }
        
    </script>
      <div id='box'>
        <div id='weather'></div>
            <div id='clock'>test</div>
      </div>
      <script>
          
          var weatherData = JSON.parse('{{ weather | tojson | safe }}'); 
                  var temp = weatherData[0].temp;
                  var icon = weatherData[0].icon;

                 var weatherWidget = "<div id='weatherWidget'>";
                 weatherWidget += temp + "°" + "<img src=../static/"+icon+".png id='icons'/>"; 
                 document.getElementById('weather').innerHTML = weatherWidget;      

      </script>
      
      <script>
      // from https://stackoverflow.com/questions/28415178/how-do-you-show-the-current-time-on-a-web-page
          
            (function () {
                var clockElement = document.getElementById( "clock" );
                function updateClock ( clock ) {
                     clock.innerHTML = new Date().toLocaleTimeString();
                }

                setInterval(function () {
                    updateClock( clockElement );
                }, 1000);

            }());
      </script>
    <script>
        
		function initMap() {                                    
            var map = new google.maps.Map(document.getElementById('map'), {         
            center: new google.maps.LatLng(53.3450, -6.2603),             
            zoom: 13.5,
            mapTypeId: 'roadmap'
	    });                                                                     

            var points = JSON.parse('{{ data | tojson | safe }}');   var marker;  
            var current;
            var infoWindow;
            var available = points.available_bike_stands;
            infoWindow = new google.maps.InfoWindow;
            infoBikes = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
			 current = new google.maps.Marker({                                   
          position: new google.maps.LatLng(pos),   
          map: map,
		  animation: google.maps.Animation.BOUNCE,
		  icon: icon,
				 title: 'Me'
				  }); 
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }
			function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
			
			var icon = {
                    url: '../static/marker.png', // url
                    scaledSize: new google.maps.Size(40, 60), // scaled size
         
            };
            
        var bikeicon = {
            url: '../static/bike_marker.png', // url
            scaledSize: new google.maps.Size(40, 40), // scaled size            
        }; 
            
            var markers = [];
                for (var i = 0; i < points.length; i++) {  
                    
                    var capacity = points[i].available_bikes + points[i].available_bike_stands;
                    
                      var image_url; 
            //console.log(points[i].available_bikes)
            if (points[i].available_bikes <= (capacity*0.20)) {
                image_url = "../static/bike_marker.png";
            }
            else if (points[i].available_bikes <= (capacity *0.6)) {
                image_url = '../static/bike_marker_middle.png';
            }
            else {
                     image_url = '../static/bike_marker_full.png';
                     }
                                        
            var bikeicon = {
            url: image_url, // url
            scaledSize: new google.maps.Size(40, 40), // scaled size            
        };

        marker = new google.maps.Marker({                                   
          position: new google.maps.LatLng(points[i].lat, points[i].lng),   
          map: map,
		  animation: google.maps.Animation.DROP,
        icon: bikeicon
			
			// available_bike_stands, available_bikes
            
        
        });     
		markers.push(marker);
		
        google.maps.event.addListener(marker,'mouseover', (function (marker,i) {
			return function() {
				

				
				
			infoBikes.open(map, this);
		  infoBikes.setContent("Station name: "+points[i].address+"<br>Available bikes: "+points[i].available_bikes+"<br>Empty stands: "+points[i].available_bike_stands);
				
				
			}
			
		})(marker,i));
		
    }  			
  }	
		
		

    </script>
	  
	  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      //google.charts.setOnLoadCallback(drawVisualization);


      function drawVisualization() {
        // Some raw data (not necessarily accurate)
		  
		  var station = document.getElementById("Input").value;
		  
		  var averages = JSON.parse('{{ averages | tojson | safe }}'); 
		
		 var avg_data = [];
 
          for (var i = 0; i < averages.length; i++){
              
              avg_data.push(averages[i]);     
			  
		  }
		  
		  
		   var hist_weather = JSON.parse('{{ dublin_weather | tojson | safe }}'); 
		
		 var dublin_weather = [];
 
          for (var i = 0; i < hist_weather.length; i++){
              
              dublin_weather.push(hist_weather[i]);     
			  console.log(dublin_weather)
			  
		  }
		  
		   for (var i = 0; i < averages.length; i++){
            if(averages[i].address == station){
				
            
          	  
		  
        var data = google.visualization.arrayToDataTable([
         ['Day', 'Available Bikes', 'Free Stands', 'Humidity'],
         ['Monday',  parseInt(avg_data[i].ab), parseInt(avg_data[i].ast), parseInt(dublin_weather[0].h)],
         ['Tuesday',  13,      11,        parseInt(dublin_weather[1].h)],
         ['Wednesday',  15,      16,        parseInt(dublin_weather[2].h)],
         ['Thursday',  39,      10,        parseInt(dublin_weather[3].h)],
         ['Friday',  16,      61,         parseInt(dublin_weather[4].h)] ,
		 ['Saturday',  39,      10,        parseInt(dublin_weather[5].h)],
         ['Sunday',  16,      61,         parseInt(dublin_weather[6].h)]]);

		  //parseInt
    var options = {
      title : averages[i].address, 
		legend: {position: 'bottom'},
		
	  vAxis: {title: 'Avg Station Occupancy '},	
      hAxis: {title: 'Day'},
      seriesType: 'bars',
      series: {2: {type: 'line'}}
    };

		  
				
        }  
    }
	
    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    chart.draw(data, options);
		  
		  
  }
		
    </script>
	  
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUgHP1nB5Nsm9k8IELrBRMpSSueJYA0r4&callback=initMap">
    </script>
    
      <div id="chart_div" style="width: 900px; height: 500px;"></div>
     
  </body>
    <footer>Ciara-Mariyana-Mary-Kate©2018</footer>
</html>