<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dublin Bikes</title>
      <link rel="stylesheet" href="static/main.css">
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </head>
    
  <body>
      <header>
      <div id='pageTitle'>
        <h1 id='title'>Dublin Bikes Information Hub</h1>
            <img src='static/dublinbike.png' id="logo" alt='logo'>
    </div>
    </header>
    <div id="map"></div>      
<div class="dropdown"><select class="Input">
</select>
      </div> 
    <script>
      
      var options = JSON.parse('{{ data | tojson | safe }}');  
          for (var i = 0; i < options.length; i++){
              $('.Input').append('<option>' + options[i].address  + '</option');     
          } 
    </script>
      <div id='box'>
          <img src='static/hapennybridge.jpg' id='bridge'>
      <div id='weather'>
      <div id='city'><h3>Dublin, Ireland</h3>
        </div>
        </div>
        </div>
      
      <script>
          
      var weatherData = JSON.parse('{{ weather | tojson | safe }}'); 
              var main = weatherData[0].main;
              var desc = weatherData[0].description;
              var temp = weatherData[0].temp;
              //var icon = weather[i].weather[0].icon
          
             var weatherWidget = "<table id='weatherTable'>";
             weatherWidget += "<tr><td>" + main + "</td><td>" + desc + "</td><td>" + temp + "</td></tr>"; 
             document.getElementById('weather').innerHTML = weatherWidget;      
      
      </script>
    <script>
        
		function initMap() {                                                      

            var map = new google.maps.Map(document.getElementById('map'), {         
            center: new google.maps.LatLng(53.3498, -6.2603),             
            zoom: 14,
            mapTypeId: 'roadmap'
	   });                                                                     

        var points = JSON.parse('{{ data | tojson | safe }}');                        
        var marker;  
	    var current;
	    var infoWindow;
	    var available = points.available_bike_stands;
		infoWindow = new google.maps.InfoWindow;
		infoBikes = new google.maps.InfoWindow;
			
			
			
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
			 current = new google.maps.Marker({                                   
          position: new google.maps.LatLng(pos),   
          map: map,
		  animation: google.maps.Animation.BOUNCE,
		  icon: icon,
				 title: 'Me'
				  }); 
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }
			function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
			
			var icon = {
    url: '../static/marker.png', // url
    scaledSize: new google.maps.Size(40, 60), // scaled size
    
};
			
var markers = [];
    for (var i = 0; i < points.length; i++) {                               

        marker = new google.maps.Marker({                                   
          position: new google.maps.LatLng(points[i].lat, points[i].lng),   
          map: map,
		  animation: google.maps.Animation.DROP,
			title: points[i].address
			// available_bike_stands, available_bikes

        });     
		markers.push(marker);
		
        google.maps.event.addListener(marker,'mouseover', (function (marker,i) {
			return function() {
				
			/*	var bikes = markers[i].available_bikes;
				 infoBikes.setPosition(pos);
            infoBikes.setContent(bikes);
            infoBikes.open(map);
            map.setCenter(pos);
			*/
				
       /* if (markers[i].getAnimation() !== null) {
			for(marker in markers){
				marker.setAnimation(null);
			}
          markers[i].setAnimation(null);
        } else {
          markers[i].setAnimation(google.maps.Animation.BOUNCE);
        } */
				
				
			infoBikes.open(map, this);
		  infoBikes.setContent("Available bikes: "+points[i].available_bikes+"<br>"+"Empty stands: "+points[i].available_bike_stands);
				
				
			}
			
		})(marker,i));
		
		
		
		
    }  			
  }		  
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUgHP1nB5Nsm9k8IELrBRMpSSueJYA0r4&callback=initMap">
    </script>
    
      
     
  </body>
    <footer>Ciara-Mariyana-Mary-Kate©2018</footer>
</html>